In [2]:
import feather 
df_1 = feather.read_dataframe("./covid_date.feather")
df_1

                           user_id              date_illness
0     00a9SPtBFkYF8KmWTvPPU0y69Xo1 2021-06-18 22:00:00+00:00
1     01dWPpgq7Nenmdej73ONXdNDjaH2 2021-08-25 23:00:00+00:00
2     03PCkZSgsRg3lgPAu37srPG1VGG3 2021-11-17 00:00:00+00:00
3     06LZlNI9fhfoYMClmJ2xjeysr3T2 2021-01-13 00:00:00+00:00
4     07dSHsBvKqOeK9ufqCZlie7cBxm1 2021-07-07 23:00:00+00:00
...                            ...                       ...
1174  zhhSSItYoXXNWBk2cI2hH8MX6E63 2021-08-31 23:00:00+00:00
1175  zv7BUkCSS9eatY96QyEc1wKlqJE3 2020-11-05 00:00:00+00:00
1176  zv7BUkCSS9eatY96QyEc1wKlqJE3 2020-12-19 00:00:00+00:00
1177  zwpspvv3nVXN9Q1H3abS4VqdGVH2 2021-01-14 00:00:00+00:00
1178  zxSQFV06pzSr3eOw5sZ5ETv2NaD2 2021-01-09 00:00:00+00:00

[1179 rows x 2 columns]

In [2]:
df_2 = feather.read_dataframe("./fitbit_activities_fairly.feather")
df_2

,user_id,datetime,activities_minutesFairlyActive
0,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-13,0
1,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-14,11
2,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-15,0
3,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-16,0
4,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-17,24
...,...,...,...
16044776,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2022-01-14,0
16044777,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2022-01-15,0
16044778,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2022-01-16,10
16044779,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2022-01-17,8
16044780,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2022-01-18,0

In [3]:
df_3 = feather.read_dataframe("./fitbit_activities_lightly.feather")
df_3

,user_id,datetime,activities_minutesLightlyActive
0,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-13,0
1,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-14,101
2,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-15,240
3,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-16,176
4,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-17,209
...,...,...,...
16044600,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2022-01-14,204
16044601,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2022-01-15,171
16044602,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2022-01-16,199
16044603,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2022-01-17,215
16044604,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2022-01-18,0

In [4]:
df_4 = feather.read_dataframe("./fitbit_activities_sedentary.feather")
df_4

                               user_id   datetime  activities_minutesSedentary
0         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-13                         1440
1         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-14                         1327
2         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-15                          884
3         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-16                          886
4         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-17                          833
...                                ...        ...                          ...
16028760  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-14                          740
16028761  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-15                          800
16028762  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-16                          718
16028763  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-17                          753
16028764  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-18                           59

[16028765 rows x 3 columns]

In [5]:
df_5 = feather.read_dataframe("./fitbit_activities_very.feather")
df_5

,user_id,datetime,activities_minutesVeryActive
0,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-13,0
1,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-14,1
2,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-15,0
3,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-16,0
4,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-17,7
...,...,...,...
15081865,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2022-01-14,0
15081866,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2022-01-15,0
15081867,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2022-01-16,30
15081868,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2022-01-17,1
15081869,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2022-01-18,0

In [6]:
df_6 = feather.read_dataframe("./fitbit_bmi.feather")
df_6

                               user_id   datetime   body_bmi
0         ikuS9LZpTAfewoizX3DlXBsplNF2 2021-01-12  37.366749
1         ikuS9LZpTAfewoizX3DlXBsplNF2 2021-01-13  37.366749
2         ikuS9LZpTAfewoizX3DlXBsplNF2 2021-01-14  37.366749
3         ikuS9LZpTAfewoizX3DlXBsplNF2 2021-01-15  37.366749
4         ikuS9LZpTAfewoizX3DlXBsplNF2 2021-01-16  37.366749
...                                ...        ...        ...
15800606  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-14  23.055555
15800607  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-15  23.024693
15800608  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-16  23.086422
15800609  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-17  22.962965
15800610  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-18  22.962965

[15800611 rows x 3 columns]

In [7]:
df_7= feather.read_dataframe("./fitbit_calories.feather")
df_7

                               user_id   datetime  activities_calories
0         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-13                 2238
1         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-14                 2996
2         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-15                 3440
3         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-16                 4022
4         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-17                 4238
...                                ...        ...                  ...
16043979  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-14                 2235
16043980  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-15                 2028
16043981  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-16                 2476
16043982  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-17                 2225
16043983  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-18                   63

[16043984 rows x 3 columns]

In [8]:
df_8= feather.read_dataframe("./fitbit_distance.feather")
df_8

                               user_id   datetime  activities_distance
0         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-13              0.00000
1         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-14              1.53213
2         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-15              5.44340
3         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-16              9.90890
4         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-17             11.57560
...                                ...        ...                  ...
14373358  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-14              4.05906
14373359  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-15              2.50986
14373360  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-16              6.71808
14373361  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-17              3.33843
14373362  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-18              0.00000

[14373363 rows x 3 columns]

In [13]:
df_9= feather.read_dataframe("./fitbit_hr.feather")
df_9

,user_id,dateTime,rhr,out_of_range.caloriesOut,out_of_range.max,out_of_range.min,out_of_range.minutes,out_of_range.name,fat_burn.caloriesOut,fat_burn.max,...,cardio.caloriesOut,cardio.max,cardio.min,cardio.minutes,cardio.name,peak.caloriesOut,peak.max,peak.min,peak.minutes,peak.name
0,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-13,NaN,21.42174,90,30,12.0,Out of Range,0.00000,126,...,0.00000,153,126,0.0,Cardio,0.0,220,153,0.0,Peak
1,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-14,83.0,785.90916,90,30,307.0,Out of Range,740.20776,126,...,0.00000,153,126,0.0,Cardio,0.0,220,153,0.0,Peak
2,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-15,73.0,2324.72020,90,30,1130.0,Out of Range,1074.93380,126,...,0.00000,153,126,0.0,Cardio,0.0,220,153,0.0,Peak
3,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-16,71.0,1443.34560,90,30,757.0,Out of Range,786.14100,126,...,0.00000,153,126,0.0,Cardio,0.0,220,153,0.0,Peak
4,ikuS9LZpTAfewoizX3DlXBsplNF2,2020-01-17,71.0,1379.49580,90,30,737.0,Out of Range,1028.86300,126,...,0.00000,153,126,0.0,Cardio,0.0,220,153,0.0,Peak
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15729467,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2019-12-22,62.0,1251.65876,78,30,1041.0,Out of Range,744.79820,109,...,18.21432,133,109,3.0,Cardio,0.0,220,133,0.0,Peak
15729468,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2019-12-23,62.0,1510.03692,78,30,1217.0,Out of Range,621.68742,109,...,143.91786,133,109,21.0,Cardio,0.0,220,133,0.0,Peak
15729469,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2019-12-24,61.0,1524.53071,78,30,1250.0,Out of Range,487.77043,109,...,60.38366,133,109,10.0,Cardio,0.0,220,133,0.0,Peak
15729470,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2019-12-25,61.0,1269.97776,78,30,967.0,Out of Range,1081.13504,109,...,130.11724,133,109,21.0,Cardio,0.0,220,133,0.0,Peak
15729471,GgZbVjQ7rROFpqOgWzWvgxcskQw1,2019-12-26,63.0,650.13290,78,30,548.0,Out of Range,1597.72531,109,...,100.41761,133,109,17.0,Cardio,0.0,220,133,0.0,Peak

In [10]:
df_10= feather.read_dataframe("./fitbit_hrv.feather")
df_10

                              user_id   datetime  dailyRMSSD  sleepRMSSD
0        SNr85MEETHgUbU2fusnEUxYx6ZI3 2021-01-04      14.971         0.0
1        SNr85MEETHgUbU2fusnEUxYx6ZI3 2021-01-05      13.830         0.0
2        SNr85MEETHgUbU2fusnEUxYx6ZI3 2021-01-06      13.139         0.0
3        SNr85MEETHgUbU2fusnEUxYx6ZI3 2021-01-07      11.402         0.0
4        SNr85MEETHgUbU2fusnEUxYx6ZI3 2021-01-08      11.946         0.0
...                               ...        ...         ...         ...
2332285  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2021-01-29      14.939         0.0
2332286  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2021-01-30      13.152         0.0
2332287  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2021-01-31      12.224         0.0
2332288  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2021-02-01      13.809         0.0
2332289  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2021-02-02      13.019         0.0

[2332290 rows x 4 columns]

In [11]:
df_11= feather.read_dataframe("./fitbit_sleep.feather")
df_11

,user_id,date_of_sleep,start_time,end_time,duration,efficiency,minutes_awake,minutes_asleep,minutes_to_fall_asleep,minutes_after_wakeup
0,00AuZPNV0AdXvAzMf1ZkYy4nzrG3,2022-07-11,2022-07-10 22:30:30,2022-07-11 06:56:30,30360000,92,77,429,0,0
1,00AuZPNV0AdXvAzMf1ZkYy4nzrG3,2022-07-10,2022-07-09 23:00:00,2022-07-10 08:02:00,32520000,92,87,455,0,10
2,00AuZPNV0AdXvAzMf1ZkYy4nzrG3,2022-07-09,2022-07-08 22:15:00,2022-07-09 07:35:30,33600000,89,85,475,0,0
3,00AuZPNV0AdXvAzMf1ZkYy4nzrG3,2022-07-08,2022-07-07 22:21:30,2022-07-08 07:30:30,32940000,94,107,442,0,0
4,00AuZPNV0AdXvAzMf1ZkYy4nzrG3,2022-07-07,2022-07-06 23:00:00,2022-07-07 07:12:30,29520000,89,95,397,0,0
...,...,...,...,...,...,...,...,...,...,...
7464529,zzsMkcPNuPgJjRdSGrnNS8q369J3,2021-09-16,2021-09-16 01:37:30,2021-09-16 06:42:00,18240000,91,26,278,0,0
7464530,zzsMkcPNuPgJjRdSGrnNS8q369J3,2021-09-18,2021-09-17 23:02:00,2021-09-18 01:48:00,9960000,93,12,154,0,0
7464531,zzsMkcPNuPgJjRdSGrnNS8q369J3,2021-09-18,2021-09-18 03:34:00,2021-09-18 06:56:30,12120000,100,0,202,0,0
7464532,zzsMkcPNuPgJjRdSGrnNS8q369J3,2021-09-19,2021-09-18 23:30:00,2021-09-19 04:56:30,19560000,95,16,303,0,7
7464533,zzsMkcPNuPgJjRdSGrnNS8q369J3,2021-09-20,2021-09-20 02:35:00,2021-09-20 07:43:30,18480000,90,31,277,0,0

In [12]:
df_12= feather.read_dataframe("./fitbit_steps.feather")
df_12

                               user_id   datetime  activities_steps
0         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-13                 0
1         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-14              1983
2         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-15              7168
3         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-16             12822
4         ikuS9LZpTAfewoizX3DlXBsplNF2 2020-01-17             14978
...                                ...        ...               ...
15079232  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-14              5406
15079233  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-15              3329
15079234  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-16              7835
15079235  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-17              4481
15079236  GgZbVjQ7rROFpqOgWzWvgxcskQw1 2022-01-18                 0

[15079237 rows x 3 columns]

In [13]:
df_13= feather.read_dataframe("./sociodemo.feather")
df_13

,user_id,enrolment_date,sex,age,smoker,ethnicity,height,weight,bmi,physical_comorbid,mental_comorbid,employment,employment_change,marital_status,children,living_situ
0,00AuZPNV0AdXvAzMf1ZkYy4nzrG3,2020-12-20 19:58:04.352623+00:00,0,35,0.0,[White],169.0,58.2,20.377438,[],[],[full_time],[unchanged],married,n,[partner]
1,00DJTLsG57So0My6Mb68fynNFzM2,2021-02-02 17:12:20.878158+00:00,1,34,1.0,[White],167.6,121.1,43.111796,[Obesity],[Prefer not to say],[full_time],[change_job],relationship_living,y,"[partner, childrenlt18]"
2,00F9Wz00WJUnPc5BbUmTAwZnmAl1,2021-01-28 09:31:59.649288+00:00,1,68,0.0,[White],152.4,57.3,24.670883,[],[],[retired],None,married,y,[partner]
3,00a9SPtBFkYF8KmWTvPPU0y69Xo1,2020-12-13 23:44:24.057476+00:00,0,28,0.0,[White],182.0,75.1,22.672383,[],[],[full_time],[unchanged],single,n,[family]
4,00n5FADseNUsAzgmrX5xvbKyde93,2020-11-02 22:54:08.566111+00:00,0,47,0.0,None,180.3,136.5,41.989548,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9599,zxSQFV06pzSr3eOw5sZ5ETv2NaD2,2021-02-13 20:27:48.087235+00:00,1,44,0.0,None,160.4,65.3,25.380750,None,None,None,None,None,None,None
9600,zySU6X9uBOXO5N9rwUekqGSilXx2,2021-03-30 08:21:44.293471+00:00,1,51,0.0,None,165.1,68.0,24.946795,None,None,None,None,None,None,None
9601,zyyQFIWLVhfLmealtHc16fgzPBp1,2020-12-21 22:37:11.347768+00:00,0,56,0.0,None,187.0,81.6,23.334954,None,None,None,None,None,None,None
9602,zz572XyVS3Te0OSF0DPVhiRsUq53,2020-07-24 06:36:15.573900+00:00,1,53,0.0,None,177.8,NaN,NaN,None,None,None,None,None,None,None
9603,zzsMkcPNuPgJjRdSGrnNS8q369J3,2020-12-26 12:08:58.614796+00:00,1,69,1.0,[],170.0,115.6,40.000000,"[Asthma, Diabetes (Type 2), Hypertension or hi...","[Seasonal affective disorder (SAD), Depression...","[state, retired]",None,married,n,[partner]

In [14]:
df_14= feather.read_dataframe("./surveys_diagnoses.feather")
df_14

,time_scheduled,name,time_start,tasks,time,version,time_received,pid,user_id,who,how,date_diagnosed,date_illness
0,NaT,Covid Diagnosis,2022-01-29 09:31:43.252000+00:00,"[{""time_start"": ""2022-01-29T09:31:43.252000+00...",2022-01-29 09:32:09.371000+00:00,2,2022-01-29 09:32:09.474000+00:00,diagnosis,kGacm887StUobHZvuwBpbjllEUj2,0.0,0.0,2022-01-29 00:00:00+00:00,2022-01-26 00:00:00+00:00
1,NaT,Covid Diagnosis,2021-09-16 06:42:37.342999+00:00,"[{""time_start"": ""2021-09-16T06:42:37.344000+00...",2021-09-16 06:44:16.798000+00:00,2,2021-09-16 06:44:17.079000+00:00,diagnosis,kGacm887StUobHZvuwBpbjllEUj2,0.0,0.0,2021-08-30 23:00:00+00:00,2021-08-27 23:00:00+00:00
2,NaT,Covid Diagnosis,2021-09-01 14:15:58.852999+00:00,"[{""time_end"": null, ""id"": ""who"", ""time_start"":...",2021-09-01 14:16:19.094000+00:00,1,2021-09-01 14:16:19.154000+00:00,diagnosis,kGacm887StUobHZvuwBpbjllEUj2,0.0,0.0,2021-08-30 23:00:00+00:00,NaT
3,NaT,Covid Diagnosis,2022-01-05 19:59:48.450999+00:00,"[{""value"": 0, ""time_end"": ""2022-01-05T19:59:51...",2022-01-05 20:00:15.292000+00:00,2,2022-01-05 20:00:15.331000+00:00,diagnosis,aDKk6pJRg4Uppp2XWCZYuyvHMh03,0.0,0.0,2021-08-30 23:00:00+00:00,2021-08-27 23:00:00+00:00
4,NaT,Covid Diagnosis,2020-11-17 10:00:22.447000+00:00,"[{""time_end"": null, ""id"": ""who"", ""value"": 0, ""...",2020-11-17 10:00:37.433000+00:00,1,2020-11-17 10:00:37.491000+00:00,diagnosis,hevl0bdEEjbTYsDY39p474zf2uv1,0.0,0.0,2020-11-13 00:00:00+00:00,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2641,NaT,Covid Diagnosis,2020-12-12 16:56:48.240000+00:00,"[{""id"": ""who"", ""time_start"": null, ""time_end"":...",2020-12-12 16:57:14.470999+00:00,1,2020-12-12 16:57:14.569000+00:00,diagnosis,6nBpnVvfCIVpgFrq4sx086wHe8t1,1.0,1.0,2020-09-03 23:00:00+00:00,NaT
2642,NaT,Covid Diagnosis,2020-11-12 08:20:44.421000+00:00,"[{""time_end"": null, ""time_start"": null, ""id"": ...",2020-11-12 08:21:01.105000+00:00,1,2020-11-12 08:21:00.332000+00:00,diagnosis,9pUbrdq1QjesIpWZQ1wuTMUdO863,0.0,0.0,2020-11-05 23:00:00+00:00,NaT
2643,NaT,Covid Diagnosis,2020-11-12 08:22:44.306000+00:00,"[{""id"": ""who"", ""value"": 1, ""time_end"": null, ""...",2020-11-12 08:22:52.902000+00:00,1,2020-11-12 08:22:52.087000+00:00,diagnosis,9pUbrdq1QjesIpWZQ1wuTMUdO863,0.0,0.0,2020-11-03 23:00:00+00:00,NaT
2644,NaT,Covid Diagnosis,2020-10-03 12:44:15.349999+00:00,"[{""value"": 0, ""time_end"": null, ""id"": ""who"", ""...",2020-10-03 12:44:42.769000+00:00,1,2020-10-03 12:44:42.789000+00:00,diagnosis,hNQyRGVyyLXnrJNnMZBWMp3c6VK2,2.0,2.0,2020-03-03 00:00:00+00:00,NaT
2645,NaT,Covid Diagnosis,2020-10-15 22:39:12.256000+00:00,"[{""time_end"": null, ""id"": ""who"", ""time_start"":...",2020-10-15 22:39:33.733999+00:00,1,2020-10-15 22:39:33.762000+00:00,diagnosis,qsBVsNkKQpdRgs0ZN0MZM6nIwnn1,0.0,0.0,2020-10-13 23:00:00+00:00,NaT

In [3]:
df_15= feather.read_dataframe("./surveys_gad7.feather")
df_15

,tasks,version,time,pid,time_received,name,time_scheduled,time_start,user_id,score
0,"[{""time_start"": null, ""id"": ""gad7_1"", ""value"":...",0,2020-10-09 05:32:29.131999+00:00,gad7,2020-10-09 05:32:29.156000+00:00,GAD7,NaT,2020-10-09 05:31:36.973999+00:00,ikuS9LZpTAfewoizX3DlXBsplNF2,12.0
1,"[{""id"": ""gad7_1"", ""time_end"": ""2021-03-02T10:1...",0,2021-03-02 10:14:34.740999+00:00,gad7,2021-03-02 10:14:34.938000+00:00,GAD7,NaT,2021-03-02 10:14:18.605000+00:00,UHbpQRGIU4Wgn3otnEEfH6Mrc3q2,9.0
2,"[{""value"": 1, ""time_start"": null, ""time_end"": ...",0,2021-01-11 22:23:19.898000+00:00,gad7,2021-01-11 22:23:19.930000+00:00,GAD7,NaT,2021-01-11 22:22:57.279999+00:00,UHbpQRGIU4Wgn3otnEEfH6Mrc3q2,4.0
3,"[{""time_end"": ""2021-12-28T11:18:26.115000+00:0...",1,2021-12-28 11:18:32.078000+00:00,gad7,2021-12-28 11:18:29.883000+00:00,GAD-7 Anxiety Scale,NaT,2021-12-28 11:18:24.072000+00:00,AqTovskmhbdMepMo4AC5mmmXKXk1,NaN
4,"[{""id"": ""gad7_1"", ""time_start"": ""2021-10-26T10...",1,2021-10-26 10:43:06.572000+00:00,gad7,2021-11-02 09:25:28.686000+00:00,GAD-7 Anxiety Scale,NaT,2021-10-26 10:42:59.289000+00:00,AqTovskmhbdMepMo4AC5mmmXKXk1,NaN
...,...,...,...,...,...,...,...,...,...,...
63802,"[{""id"": ""gad7_1"", ""value"": 0, ""time_start"": nu...",0,2021-03-11 21:49:17.362000+00:00,gad7,2021-03-11 21:49:17.613000+00:00,GAD7,NaT,2021-03-11 21:48:43.422000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,0.0
63803,"[{""value"": 0, ""time_start"": null, ""time_end"": ...",0,2021-01-05 23:28:20.095000+00:00,gad7,2021-01-05 23:28:21.162000+00:00,GAD7,NaT,2021-01-05 23:27:41.118000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,0.0
63804,"[{""id"": ""gad7_1"", ""time_start"": null, ""time_en...",0,2020-09-29 09:11:24.379000+00:00,gad7,2020-09-29 09:11:24.796000+00:00,GAD7,NaT,2020-09-29 09:10:59.458000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,6.0
63805,"[{""value"": 0, ""id"": ""gad7_1"", ""time_start"": nu...",0,2021-07-04 18:44:03.143000+00:00,gad7,2021-07-04 18:44:05.826000+00:00,GAD7,NaT,2021-07-04 18:43:03.992000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,0.0
63806,"[{""time_end"": ""2022-01-19T11:25:34.842000+00:0...",1,2022-01-19 11:26:12.515000+00:00,gad7,2022-01-19 11:26:12.978000+00:00,GAD-7 Anxiety Scale,NaT,2022-01-19 11:25:31.238000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,NaN

In [46]:
df_16= feather.read_dataframe("./surveys_phq8.feather")
df_16

,name,tasks,time_received,time_scheduled,time,pid,version,time_start,user_id,score
0,PHQ8,"[{""time_start"": null, ""value"": 1, ""id"": ""phq8_...",2020-10-09 05:31:34.637000+00:00,NaT,2020-10-09 05:31:34.588999+00:00,phq8,0,2020-10-09 05:30:39.561000+00:00,ikuS9LZpTAfewoizX3DlXBsplNF2,9.0
1,PHQ8,"[{""time_end"": ""2021-01-11T22:23:24.438999+00:0...",2021-01-11 22:23:37.909000+00:00,NaT,2021-01-11 22:23:37.862999+00:00,phq8,0,2021-01-11 22:23:21.177999+00:00,UHbpQRGIU4Wgn3otnEEfH6Mrc3q2,2.0
2,PHQ8,"[{""time_end"": ""2021-03-02T10:13:58.601999+00:0...",2021-03-02 10:14:17.616000+00:00,NaT,2021-03-02 10:14:17.424999+00:00,phq8,0,2021-03-02 10:13:54.058000+00:00,UHbpQRGIU4Wgn3otnEEfH6Mrc3q2,8.0
3,PHQ8,"[{""value"": 1, ""time_end"": ""2020-10-25T12:42:27...",2020-10-25 12:35:40.875000+00:00,NaT,2020-10-25 12:43:06.610000+00:00,phq8,0,2020-10-25 12:42:09.176000+00:00,AqTovskmhbdMepMo4AC5mmmXKXk1,9.0
4,PHQ-8 Depression Scale,"[{""time_end"": ""2021-09-21T09:40:47.213000+00:0...",2021-09-21 09:40:53.858000+00:00,NaT,2021-09-21 09:40:54.887000+00:00,phq8,1,2021-09-21 09:40:44.984000+00:00,AqTovskmhbdMepMo4AC5mmmXKXk1,NaN
...,...,...,...,...,...,...,...,...,...,...
63243,PHQ8,"[{""time_start"": null, ""value"": 0, ""time_end"": ...",2021-03-19 20:12:06.728000+00:00,NaT,2021-03-19 20:12:06.664000+00:00,phq8,0,2021-03-19 20:11:42.548000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,0.0
63244,PHQ8,"[{""value"": 0, ""id"": ""phq8_1"", ""time_start"": nu...",2020-12-22 23:20:57.496000+00:00,NaT,2020-12-22 23:20:55.885000+00:00,phq8,0,2020-12-22 23:20:12.575000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,0.0
63245,PHQ8,"[{""id"": ""phq8_1"", ""time_end"": ""2020-09-29T09:1...",2020-09-29 09:10:41.828000+00:00,NaT,2020-09-29 09:10:41.370000+00:00,phq8,0,2020-09-29 09:09:57.536000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,0.0
63246,PHQ-8 Depression Scale,"[{""value"": 0, ""time_end"": ""2021-08-22T12:01:37...",2021-08-22 12:02:04.584000+00:00,NaT,2021-08-22 12:02:03.617000+00:00,phq8,1,2021-08-22 12:01:22.105000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,NaN
63247,PHQ8,"[{""time_start"": null, ""value"": 0, ""id"": ""phq8_...",2021-02-04 20:31:03.939000+00:00,NaT,2021-02-04 20:31:01.207000+00:00,phq8,0,2021-02-04 20:30:20.854000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,0.0

In [17]:
df_17= feather.read_dataframe("./surveys_symptoms.feather")
df_17

,time_received,version,time_scheduled,time_start,pid,tasks,name,time,user_id,valence,arousal
0,2020-10-09T05:30:23.774000+00:00,1,None,2020-10-09T05:29:53.779000+00:00,symptoms,"[{'id': 'mood', 'time_end': '2020-10-09T05:30:...",CoViD symptoms,2020-10-09 05:30:23.746000+00:00,ikuS9LZpTAfewoizX3DlXBsplNF2,0.25,-0.25
1,2021-01-11T22:22:52.342000+00:00,1,None,2021-01-11T22:22:39.963999+00:00,symptoms,"[{'id': 'mood', 'time_end': '2021-01-11T22:22:...",CoViD symptoms,2021-01-11 22:22:52.309000+00:00,UHbpQRGIU4Wgn3otnEEfH6Mrc3q2,-0.25,-0.25
2,2021-03-02T10:13:52.565000+00:00,1,None,2021-03-02T10:13:30.428999+00:00,symptoms,"[{'id': 'mood', 'time_end': '2021-03-02T10:13:...",CoViD symptoms,2021-03-02 10:13:52.378000+00:00,UHbpQRGIU4Wgn3otnEEfH6Mrc3q2,0.50,0.50
3,2021-01-12T10:27:23.609000+00:00,1,None,2021-01-12T10:27:09.558000+00:00,symptoms,"[{'id': 'mood', 'time_end': '2021-01-12T10:27:...",CoViD symptoms,2021-01-12 10:27:23.592000+00:00,UHbpQRGIU4Wgn3otnEEfH6Mrc3q2,0.25,0.50
4,2021-03-02T10:13:41.555000+00:00,1,None,2021-03-02T10:13:30.552000+00:00,symptoms,"[{'id': 'mood', 'time_end': '2021-03-02T10:13:...",CoViD symptoms,2021-03-02 10:13:41.354000+00:00,UHbpQRGIU4Wgn3otnEEfH6Mrc3q2,0.25,0.25
...,...,...,...,...,...,...,...,...,...,...,...
208014,2021-06-11T11:47:12.440000+00:00,4,None,2021-06-11T09:56:57.785000+00:00,symptoms,"[{'id': 'mood', 'time_end': '2021-06-11T11:47:...",Covid Symptoms,2021-06-11 11:47:12.100000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,0.50,0.50
208015,2021-01-19T16:02:36.458000+00:00,1,None,2021-01-19T16:02:22.677000+00:00,symptoms,"[{'id': 'mood', 'time_end': '2021-01-19T16:02:...",CoViD symptoms,2021-01-19 16:02:34.666000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,0.50,0.50
208016,2020-11-17T15:46:21.971000+00:00,1,None,2020-11-17T15:46:07.293000+00:00,symptoms,"[{'id': 'mood', 'time_end': '2020-11-17T15:46:...",CoViD symptoms,2020-11-17 15:46:21.786000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,0.25,0.25
208017,2020-11-20T10:46:18.493000+00:00,1,None,2020-11-20T10:46:08.933000+00:00,symptoms,"[{'id': 'mood', 'time_end': '2020-11-20T10:46:...",CoViD symptoms,2020-11-20 10:46:18.320000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,0.50,0.50
208018,2021-02-12T14:34:06.689000+00:00,3,None,2021-02-12T14:33:50.366000+00:00,symptoms,"[{'id': 'mood', 'time_end': '2021-02-12T14:34:...",Covid Symptoms,2021-02-12 14:34:05.430000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,0.50,0.50

In [18]:
df_18= feather.read_dataframe("./surveys_vaccination.feather")
df_18

,tasks,time_start,version,name,pid,time_received,time_scheduled,time,user_id,who,how,date_received
0,"[{""value"": ""pfizer"", ""time_start"": null, ""time...",2021-07-15 16:39:34.814000+00:00,1,Covid Vaccination,vaccination,2021-07-15 16:26:37.558000+00:00,NaT,2021-07-15 16:39:44.506000+00:00,AqTovskmhbdMepMo4AC5mmmXKXk1,pfizer,1.0,2021-07-14 23:00:00+00:00
1,"[{""id"": ""vaccine_type"", ""time_start"": null, ""t...",2021-05-20 09:10:36.040000+00:00,1,Covid Vaccination,vaccination,2021-05-20 08:58:49.807000+00:00,NaT,2021-05-20 09:10:46.620000+00:00,AqTovskmhbdMepMo4AC5mmmXKXk1,pfizer,0.0,2021-05-19 23:00:00+00:00
2,"[{""time_start"": ""2021-12-17T10:27:56.440000+00...",2021-12-17 10:27:56.439000+00:00,2,Covid Vaccination,vaccination,2021-12-17 10:28:06.491000+00:00,NaT,2021-12-17 10:28:07.078000+00:00,AqTovskmhbdMepMo4AC5mmmXKXk1,pfizer,1.0,2021-12-16 00:00:00+00:00
3,"[{""value"": ""oxford"", ""time_start"": ""2021-10-07...",2021-10-07 22:11:14.598999+00:00,2,Covid Vaccination,vaccination,2021-10-08 07:40:56.046000+00:00,NaT,2021-10-07 22:11:39.882999+00:00,kGacm887StUobHZvuwBpbjllEUj2,oxford,0.0,2021-03-08 00:00:00+00:00
4,"[{""id"": ""vaccine_type"", ""value"": ""oxford"", ""ti...",2021-10-07 22:10:20.579999+00:00,2,Covid Vaccination,vaccination,2021-10-08 07:40:56.030000+00:00,NaT,2021-10-07 22:11:11.332999+00:00,kGacm887StUobHZvuwBpbjllEUj2,oxford,1.0,2021-05-17 23:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
8878,"[{""id"": ""vaccine_type"", ""time_start"": ""2021-08...",2021-08-13 17:18:21.550000+00:00,1,Covid Vaccination,vaccination,2021-08-13 17:20:48.289000+00:00,NaT,2021-08-13 17:20:47.975000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,oxford,0.0,2021-02-12 00:00:00+00:00
8879,"[{""time_start"": ""2021-11-10T07:32:55.510000+00...",2021-11-10 07:32:55.510000+00:00,2,Covid Vaccination,vaccination,2021-11-10 07:33:18.588000+00:00,NaT,2021-11-10 07:33:17.944000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,pfizer,1.0,2021-11-09 00:00:00+00:00
8880,"[{""id"": ""vaccine_type"", ""time_start"": null, ""v...",2021-02-12 18:38:38.887000+00:00,1,Covid Vaccination,vaccination,2021-02-12 18:39:13.135000+00:00,NaT,2021-02-12 18:39:11.780000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,oxford,0.0,2021-02-12 00:00:00+00:00
8881,"[{""time_start"": null, ""value"": ""oxford"", ""id"":...",2021-05-01 19:48:46.508000+00:00,1,Covid Vaccination,vaccination,2021-05-01 19:49:13.959000+00:00,NaT,2021-05-01 19:49:12.934000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,oxford,1.0,2021-04-29 23:00:00+00:00
8882,"[{""value"": ""oxford"", ""time_end"": ""2021-06-08T1...",2021-06-08 17:49:09.159000+00:00,1,Covid Vaccination,vaccination,2021-06-11 09:56:58.405000+00:00,NaT,2021-06-08 17:50:25.175000+00:00,GgZbVjQ7rROFpqOgWzWvgxcskQw1,oxford,1.0,2021-04-29 23:00:00+00:00

In [5]:
import pandas as pd
import datetime as datetime
import numpy as np

In [17]:
date_merged_1and9 = pd.merge(df_1,df_9,on= 'user_id', how = 'left')
date_merged_1and9 = date_merged_1and9.iloc[:,:4]
date_merged_1and9["date_illness"] = pd.to_datetime(date_merged_1and9["date_illness"]).dt.date
date_merged_1and9['dateTime'] = date_merged_1and9['dateTime'].dt.date
date_merged_1and9['difference'] = (date_merged_1and9['dateTime'] - date_merged_1and9['date_illness']).dt.days
date_merged_1and9_rhr = date_merged_1and9[(date_merged_1and9['difference'] > -8) & (date_merged_1and9['difference'] < 8)]
df_grouped_rhr = date_merged_1and9_rhr.groupby('user_id')
df_mean_rhr = df_grouped_rhr['rhr'].mean()
df_result_rhr = df_mean_rhr.reset_index()

In [18]:
df_result_rhr

                          user_id        rhr
0    00a9SPtBFkYF8KmWTvPPU0y69Xo1  55.066667
1    01dWPpgq7Nenmdej73ONXdNDjaH2  58.800000
2    03PCkZSgsRg3lgPAu37srPG1VGG3  75.444444
3    06LZlNI9fhfoYMClmJ2xjeysr3T2  51.266667
4    07dSHsBvKqOeK9ufqCZlie7cBxm1  53.100000
..                            ...        ...
983  zSNi7h9gu3NFGBeoN8kTwIaLM0a2  66.733333
984  zhhSSItYoXXNWBk2cI2hH8MX6E63        NaN
985  zv7BUkCSS9eatY96QyEc1wKlqJE3  68.516129
986  zwpspvv3nVXN9Q1H3abS4VqdGVH2  76.266667
987  zxSQFV06pzSr3eOw5sZ5ETv2NaD2  63.333333

[988 rows x 2 columns]

In [51]:
random_days = np.random.randint(60, 70, size=len(date_merged_1and9))
random_timedelta = pd.TimedeltaIndex(random_days, unit='d')
date_merged_1and9['non-Covid'] = date_merged_1and9['date_illness'] - random_timedelta
date_merged_1and9['difference-non'] = (date_merged_1and9['dateTime'] - date_merged_1and9['non-Covid']).dt.days
date_merged_1and9_rhr_non = date_merged_1and9[(date_merged_1and9['difference-non'] > -8) & (date_merged_1and9['difference-non'] < 8)]
df_grouped_rhr_non = date_merged_1and9_rhr_non.groupby('user_id')
df_mean_rhr_non = df_grouped_rhr_non['rhr'].mean()
df_result_rhr_non = df_mean_rhr_non.reset_index()

D:\python\lib\site-packages\pandas\core\arrays\datetimelike.py:1189: PerformanceWarning: Adding/subtracting object-dtype array to TimedeltaArray not vectorized.
  warnings.warn(

In [53]:
df_result_rhr_non

                          user_id        rhr
0    00a9SPtBFkYF8KmWTvPPU0y69Xo1  53.916667
1    01dWPpgq7Nenmdej73ONXdNDjaH2  61.562500
2    03PCkZSgsRg3lgPAu37srPG1VGG3  74.850000
3    06LZlNI9fhfoYMClmJ2xjeysr3T2  54.200000
4    07dSHsBvKqOeK9ufqCZlie7cBxm1  52.961538
..                            ...        ...
916  zOUe06MGfBPLKC8TosEiSuKUhdi1        NaN
917  zSNi7h9gu3NFGBeoN8kTwIaLM0a2  68.187500
918  zhhSSItYoXXNWBk2cI2hH8MX6E63        NaN
919  zv7BUkCSS9eatY96QyEc1wKlqJE3  68.633333
920  zxSQFV06pzSr3eOw5sZ5ETv2NaD2  58.214286

[921 rows x 2 columns]

In [41]:
gad7 = pd.merge(df_1,df_15,on= 'user_id', how = 'left')
gad7 = gad7.iloc[:,[0, 1, 6, 10]]
gad7["date_illness"] = pd.to_datetime(gad7["date_illness"]).dt.date
gad7["time_received"] = pd.to_datetime(gad7["time_received"]).dt.date
gad7['difference'] = (gad7['time_received'] - gad7['date_illness']).dt.days
Non_Covid_gad7 = gad7[gad7['difference'] > 0]
Covid_gad7 = gad7[gad7['difference'] <= 0]
Gad7_Covid_grouped = Covid_gad7.groupby('user_id')
Gad7_Covid_grouped_mean = Gad7_Covid_grouped['score'].mean()
Gad7_Covid_grouped_result = Gad7_Covid_grouped_mean.reset_index()
Gad7_Covid_grouped_result.rename(columns={'score': 'Gad7_Covid_score'}, inplace=True)
Gad7_non_Covid_grouped = Non_Covid_gad7.groupby('user_id')
Gad7_non_Covid_grouped_mean = Gad7_non_Covid_grouped['score'].mean()
Gad7_non_Covid_grouped_result = Gad7_non_Covid_grouped_mean.reset_index()
Gad7_non_Covid_grouped_result.rename(columns={'score': 'Gad7_non_Covid_score'}, inplace=True)

In [49]:
Gad7_Covid_grouped_result

                          user_id  Gad7_Covid_score
0    00a9SPtBFkYF8KmWTvPPU0y69Xo1          7.000000
1    01dWPpgq7Nenmdej73ONXdNDjaH2          0.125000
2    03PCkZSgsRg3lgPAu37srPG1VGG3         13.500000
3    06LZlNI9fhfoYMClmJ2xjeysr3T2          3.000000
4    0AaN6tJuBRby5SP1zd6qbghV1hw2          3.000000
..                            ...               ...
497  zOUe06MGfBPLKC8TosEiSuKUhdi1          6.500000
498  zSNi7h9gu3NFGBeoN8kTwIaLM0a2          8.761905
499  zfw4HoPjAkg42H0hq3waElGUoCo2         21.000000
500  zhhSSItYoXXNWBk2cI2hH8MX6E63          4.105263
501  zv7BUkCSS9eatY96QyEc1wKlqJE3         20.400000

[502 rows x 2 columns]

In [50]:
Gad7_non_Covid_grouped_result

                          user_id  Gad7_non_Covid_score
0    00a9SPtBFkYF8KmWTvPPU0y69Xo1              9.000000
1    01dWPpgq7Nenmdej73ONXdNDjaH2                   NaN
2    03PCkZSgsRg3lgPAu37srPG1VGG3                   NaN
3    06LZlNI9fhfoYMClmJ2xjeysr3T2              0.000000
4    07dSHsBvKqOeK9ufqCZlie7cBxm1                   NaN
..                            ...                   ...
986  zfw4HoPjAkg42H0hq3waElGUoCo2             21.000000
987  zhhSSItYoXXNWBk2cI2hH8MX6E63              9.500000
988  zv7BUkCSS9eatY96QyEc1wKlqJE3             20.315789
989  zwpspvv3nVXN9Q1H3abS4VqdGVH2             14.000000
990  zxSQFV06pzSr3eOw5sZ5ETv2NaD2              1.750000

[991 rows x 2 columns]

In [60]:
phq8 = pd.merge(df_1,df_16,on= 'user_id', how = 'left')
phq8 = phq8.iloc[:,[0, 1, 4, 10]]
phq8["date_illness"] = pd.to_datetime(phq8["date_illness"]).dt.date
phq8["time_received"] = pd.to_datetime(phq8["time_received"]).dt.date
phq8['difference'] = (phq8['time_received'] - phq8['date_illness']).dt.days
Non_Covid_phq8 = phq8[phq8['difference'] > 0]
Covid_phq8 = phq8[phq8['difference'] <= 0]
phq8_Covid_grouped = Covid_phq8.groupby('user_id')
phq8_Covid_grouped_mean = phq8_Covid_grouped['score'].mean()
phq8_Covid_grouped_result = phq8_Covid_grouped_mean.reset_index()
phq8_Covid_grouped_result.rename(columns={'score': 'Gad7_Covid_score'}, inplace=True)
phq8_non_Covid_grouped = Non_Covid_phq8.groupby('user_id')
phq8_non_Covid_grouped_mean = phq8_non_Covid_grouped['score'].mean()
phq8_non_Covid_grouped_result = phq8_non_Covid_grouped_mean.reset_index()
phq8_non_Covid_grouped_result.rename(columns={'score': 'Gad7_non_Covid_score'}, inplace=True)

In [61]:
phq8_Covid_grouped_result

                          user_id  Gad7_Covid_score
0    00a9SPtBFkYF8KmWTvPPU0y69Xo1         14.500000
1    01dWPpgq7Nenmdej73ONXdNDjaH2          0.111111
2    03PCkZSgsRg3lgPAu37srPG1VGG3         13.250000
3    06LZlNI9fhfoYMClmJ2xjeysr3T2          1.500000
4    0AaN6tJuBRby5SP1zd6qbghV1hw2          3.764706
..                            ...               ...
499  zOUe06MGfBPLKC8TosEiSuKUhdi1         12.000000
500  zSNi7h9gu3NFGBeoN8kTwIaLM0a2         10.400000
501  zfw4HoPjAkg42H0hq3waElGUoCo2         23.000000
502  zhhSSItYoXXNWBk2cI2hH8MX6E63          6.250000
503  zv7BUkCSS9eatY96QyEc1wKlqJE3         21.800000

[504 rows x 2 columns]

In [62]:
phq8_non_Covid_grouped_result

                          user_id  Gad7_non_Covid_score
0    00a9SPtBFkYF8KmWTvPPU0y69Xo1             17.000000
1    03PCkZSgsRg3lgPAu37srPG1VGG3                   NaN
2    06LZlNI9fhfoYMClmJ2xjeysr3T2              0.583333
3    07dSHsBvKqOeK9ufqCZlie7cBxm1                   NaN
4    0AaN6tJuBRby5SP1zd6qbghV1hw2                   NaN
..                            ...                   ...
990  zfw4HoPjAkg42H0hq3waElGUoCo2             23.000000
991  zhhSSItYoXXNWBk2cI2hH8MX6E63             14.000000
992  zv7BUkCSS9eatY96QyEc1wKlqJE3             21.095238
993  zwpspvv3nVXN9Q1H3abS4VqdGVH2             14.000000
994  zxSQFV06pzSr3eOw5sZ5ETv2NaD2              5.250000

[995 rows x 2 columns]